h1{
    text-align: center;
}
#header {
    margin: 0%;
}

hr  {
    width: 500px;    
}

h2 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

p {
    text-align: center;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}
body {
    background-color: #E0E1DD;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 0 auto;

}  
#board {
    display: grid;
    gap: 2px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.box {
    background-color: #eee;
}

.box:hover {
    box-shadow: 0px 0px 0px 3px black;
}
#start {
    margin: 10px;
}
#scoreBox {
    display: flex;
    align-items: center;
    align-content: center;
    border: black;
    margin: 10px 0px 0px 0px;

}

#border{
    border: black solid;
    margin: 0 auto;
    width: 15%;
    height: 100%;
}

.p {
    text-align: center;
    justify-content: center;
     
}
