:root{
    --board-size: 4;
}


h1{
    text-align: center;
}

hr  {
    width: 500px;
    
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}
body {
    background-color: #E0E1DD;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 0 auto;
  
  }
  /* .bigBox {
    margin: auto;
    display: flex;
    position: relative;
    background-color: #415A77;
    padding: 300px;
    width:50px;
    height:50px;
    border: #0D1B2A;
    border-style: solid;
  } */
  
#board {
    display: grid;
    /* grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px); */
    gap: 2px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.box {
    background-color: rgb(114, 14, 14);
    width: 100px;
    height: 100px;
}

.box:hover {
    box-shadow: 0px 0px 0px 1px blue;
}